@font-face {
    font-family: 'robotolight';
    src: url('assets/fonts/roboto-light-webfont.woff2') format('woff2'),
    url('assets/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('assets/fonts/roboto-thin-webfont.woff2') format('woff2'),
    url('assets/fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'forumregular';
    src: url('assets/fonts/forum-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/forum-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
    width: 100vw;
    margin: 0;
}

/*header style*/

header {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    width: 199px;
    max-width: 199px;
    height: 33px;
}
.logo p{
    font-size: 31px;
}

nav{
    width: 50%;
}

ul{
    display: flex;
}

li{
    list-style: none;
    color: #FFFFFF;
    font-family: robotothin, sans-serif;
    font-size: 26px;
    padding-left: 15px;
    padding-right: 15px;
}
a:link, a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

/*header end*/

.section{
    padding-top: 75px;
    padding-bottom: 75px;

}

.container{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}


#welcome p, #welcome h4, .explore-text, .contacts-text  {
    font-family: robotolight, sans-serif;
}

h1, .logo p, h3, h2 {
    font-family: forumregular, sans-serif;
}

li a, .virtual_tour_wrapper p {
    font-family: robotothin, sans-serif;
}


/*welcome page*/

#welcome .container{
    display: flex;
    color: #FFFFFF;
}
#welcome h1{
    font-size: 80px;
    letter-spacing: 5px;
    color: white;
}
#welcome h4{
    font-size: 28px;
    letter-spacing: 2px;
}
#welcome img{
    max-width: 70%;
}
#welcome p{
    font-size: 22px;
    color: white;
    letter-spacing: 2px;
    padding: 25px;
}

.text_welcome{
    width: 35%;
}

#discover-button{
    width: 360px;
    height: 75px;
    border-radius: 10px;
    background-color: #710707;
    text-align: center;
}

/*welcome page end*/


/*visiting section = virtual tour*/

.virtual_tour_wrapper h3{
    border-bottom: 2px solid #710707;
}


#visiting h2{
    border-bottom: 3px solid #710707;
    font-size: 80px;
    letter-spacing: 5px;
    color: #9D8665;
}

.virtual_tour_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 40%);
    justify-content: center;
    column-gap: 60px;
    row-gap: 75px;
    margin: 0 auto;
}
.virtual_tour_wrapper a{
    display: block;
    color: black;
}
.virtual_tour_wrapper img{
    width:440px;
    height:285px;
}

/*visiting section = virtual tour end */

/*picture explore section*/

.explore-text{
    font-size: 22px;
    color:white;
    margin-bottom: 241px;
}

.explore-container span{
    color: #CAAA7D;
}

.explore-container{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 75px;
    padding-top: 75px;
}

.explore-container h2{
    grid-row: 1/2;
    grid-column: 1/2;
    color: white;
    border-bottom: 3px solid #710707;
    letter-spacing: 5px;
    font-size: 80px;
}

.explore-container p{
    grid-row: 2/3;
    grid-column: 1/2;
}

.explore-img{
    grid-row: 1/2;
    grid-column: 2/3;
}

/*picture explore section end*/

.videos{
    display: grid;
    grid-template-columns: repeat(3, 452px);
    grid-template-rows: 650px 254px;
    column-gap: 42px;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
}

.big-video{
    grid-column: 1/4;
    grid-row: 1/2;
}

.smaller-videos{
    column-gap: 42px;
    row-gap: 40px;
}

.video_text{
    display: flex;
    justify-content: space-between;
}

/*art-gallery section*/

.gallery{
    display: grid;
    grid-template-rows: repeat(4, 456px);
    grid-template-columns: repeat(3, auto);
    column-gap: 20px;
    row-gap: 10px;
    justify-content: center;
}

#art-gallery h2{
    font-size: 80px;
    color: white;
    letter-spacing: 5px;
}

/*art-gallery section end */

/*buy tickets section*/

#tickets h2{
    color: #9D8665;
    font-size: 80px;
    letter-spacing: 5px;

}
.ticket-type{
    display: flex;
    flex-direction: column;
}

.buy-tickets{
    display: grid;
    grid-template-columns: 750px 270px 150px;
    grid-template-rows: 193px 550px;
    justify-content: center;

}

/*buy tickets section end*/

#contacts h2{
    color: #9D8665;
    font-size: 80px;
}

b{
    font-size: 22px;
}

#contacts address, p{
    font-size: 22px;
}
footer a{
    color: #000000;
}

.black {
    background: #000000;
    width: 100%;
}

.contacts-grid{
    display: grid;
    grid-template-columns: 480px 950px;
    grid-template-rows: 50%;
    justify-content: center;
}

footer{
    display: grid;
    grid-template-columns: 195px 363px 340px;
    grid-template-rows: 50px 26px 48px;
}
.footer-nav{
    display: grid;
    grid-template-columns: 107px 107px;
    grid-template-rows: repeat(3, 26px);
    justify-content: center;
}

@media screen and (max-width: 1024px) {

    .nav{
        display: none;
    }

    .logo img{
        width: 49px;
        margin-right: 25px;
    }

    .logo p{
        font-size: 28px;
    }

    #welcome h1, #visiting h2, #explore h2, #art-gallery h2, #tickets h2, #contacts h2 {
        font-size: 50px;
    }

    #welcome p{
        font-size: 24px;
    }

    #discover-button p{
        font-size: 20px;
    }

    #welcome .container img{
        width: 700px;
    }

    .container{
        width: 984px;
    }

    #visiting{
        height: 1313px;
    }

    #visiting h3{
        font-size: 28px;
        margin-bottom: 22px;
    }

    #visiting p{
        font-size: 20px;
        margin-bottom: 10px;
    }

    h6{
        font-size: 16px;
        font-family: robotothin, sans-serif;
    }

    .virtual_tour_wrapper img{
        width:330px;
        height:215px;
    }

    .virtual_tour_wrapper .link-text{
        height: 105px;
    }


    .virtual_tour_wrapper{
        display: grid;
        grid-template-columns: repeat(2, 330px);
        grid-template-rows: repeat(3, 345px);
        column-gap: 108px;
        row-gap: 60px;
        margin: 0 108px;
    }

    .explore-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .explore-text p{
        font-size: 20px;
    }

    .explore-img{
        margin: 20px auto;
        width: 720px;
        height: 700px;

    }

    #video{
        height: 881px;
    }
    .video_text p{
        display: none;
    }
    .videos{
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: 504px 170px;
        row-gap: 40px;
    }
    .big-video{
        width: 984px;
        height: 505px;
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .smaller-videos{
        width: 300px;
        height: 170px;
    }

    .gallery{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(4, 20%);
    }

    .ticket-type{
        display: none;
    }

    .buy-tickets{
        display: flex;
        justify-content: space-between;
    }

    .buy-tickets img{
        width: 700px;
    }

    .contacts-grid{
        display: flex;
        justify-content: space-between;
    }

    .contacts-grid img{
        width: 694px;
        height: 454px;
    }

    .contacts-text b{
        font-size: 24px;
    }
    .contacts-text p, address{
        font-size: 20px;
    }


}